src/__pycache__/basicparser.cpython-311.pyc
src/__pycache__/basictoken.cpython-311.pyc
src/__pycache__/flowsignal.cpython-311.pyc
src/__pycache__/interpreter.cpython-311.pyc
src/__pycache__/lexer.cpython-311.pyc
src/__pycache__/msx.cpython-311.pyc
src/__pycache__/program.cpython-311.pyc
Tests/star.bas.bak
src/__pycache__/basicparser.cpython-39.pyc
src/__pycache__/basictoken.cpython-39.pyc
src/__pycache__/flowsignal.cpython-39.pyc
src/__pycache__/interpreter.cpython-39.pyc
src/__pycache__/lexer.cpython-39.pyc
src/__pycache__/msx.cpython-39.pyc
src/__pycache__/program.cpython-39.pyc
src/build/linter/EXE-00.toc
src/build/linter/linter.exe.manifest
src/build/linter/linter.pkg
src/build/linter/PKG-00.toc
src/build/linter/PYZ-00.pyz
src/build/linter/PYZ-00.toc
src/build/linter/warn-linter.txt
src/build/linter/xref-linter.html
src/build/linter/localpycs/pyimod01_archive.pyc
src/build/linter/localpycs/pyimod02_importers.pyc
src/build/linter/localpycs/pyimod03_ctypes.pyc
src/build/linter/localpycs/pyimod04_pywin32.pyc
src/build/linter/localpycs/struct.pyc
src/build/linter/Analysis-00.toc
src/build/linter/base_library.zip
src/linter.spec
.vscode/launch.json
.vscode/launch.json
.gitignore
